*.a
*.la
*.lo
*.o
*.so
*~
.bootstrap
.deps
.emacs*
.libs
ABOUT-NLS
INSTALL
Make.rules
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
gnulib
libtool
paxutils
stamp-h1
